@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#title{
    position: absolute;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 35%;
    top: 40%;
    left: 30%;
  }
  
  #title img{
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
  }

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
}